body {
  background-color: antiquewhite;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3{
  padding-bottom: 1em !important;
}
.sombra{
  box-shadow: 0 0.1rem 0.15rem rgba(40,36,89,0.15),0 0.25rem 0.5rem rgba(40,36,89,0.15),0 0.75rem 1.75rem rgba(40,36,89,0.2);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
span{
  color: blue;
  font-weight: bold;
}

.Contenerdor{
  width: 100%;
  height: 2000px;
  background-image: linear-gradient(180deg, #505467 0, #1f3259 50%, #00154b 100%);
}
.cabecera{
 
  height: 5em;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;

}



.titulo{
  background-image: linear-gradient(345deg, #00ffff 0, #21e0ff 25%, #3cb5f2 50%, #408cbb 75%, #3b6788 100%);
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  height: 4em;
  letter-spacing: 0.1em;
  border-end-end-radius: 40%;
  border-end-start-radius: 40%;
 
}

.productos{
  display: grid;
  
  grid-template-areas:' medicos medicos' 
                      ' horario horario'
                      'agenda agenda';
  grid-template-columns: 40% ;
  width:90%;
  margin: 0 auto;
  height: auto;
  
  color: aliceblue;
  padding-bottom:20px;
  justify-content: space-around;
}
.med{ 
  grid-area:medicos;
  margin: 0 auto;
  width: 60%;
}
.hor{grid-area:horario;
  margin: 0 auto;
  width: 60%;
}
.agen{grid-area:agenda;
  margin: 0 auto;
  width: 60%;
}
.producto{
  margin-top: 20px;
  background-image: linear-gradient(345deg, #00ffff 0, #21e0ff 25%, #3cb5f2 50%, #408cbb 75%, #3b6788 100%);  
  border-radius: 6%;
}
.listados{
  margin-bottom: 3em;
}

.box{
  background-image: radial-gradient(circle at 67.85% 50%, #eae6ee 0, #dfd8e9 50%, #d3cbe4 100%);
  margin: 0 auto;
  width: 80%;
  height: auto;
  align-content:center ;
  justify-content: space-between;
  display: flex !important;
  flex-direction: row;
  margin-bottom: 1rem;
}
.producto h3{
  
  margin-bottom: 1em;
  margin-top: 1em;
}




