body {
  background-color: antiquewhite;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3{
  padding-bottom: 1em !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Contenerdor{
  width: 100%;
  height: 1200px;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,133,205,1) 0%, rgba(28,230,232,1) 100%, rgba(9,9,121,1) 3822%);
}
.cabecera{
  text-align: center;
  height: 2em;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50%;
  border-radius: 5px 5px 5px 5px;

}

.titulo{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,66,187,1) 0%, rgba(28,121,232,1) 100%, rgba(9,9,121,1) 3822%);  border-radius: 1em 1em 1em 1em;
}

.productos{
  grid-template-columns: 45% 45%;
  justify-content: space-around;
  display: grid;
  width:90%;
  margin: 0 auto;
  height: auto;
  color: aliceblue;
  padding-bottom:20px;
}
.producto{
  margin-top: 20px;
  background-image: radial-gradient(circle at 67.85% 50%, #a541f0 0, #963ef1 25%, #853cf2 50%, #723af3 75%, #5b3af4 100%);
  border-radius: 2em 2em  2em 2em ;
  border-style:groove
}


.box{
  background-image: radial-gradient(circle at 67.85% 50%, #eae6ee 0, #dfd8e9 50%, #d3cbe4 100%);

  margin: 0 auto;
  width: 80%;
  height: auto;
  align-content:center ;
  justify-content: space-between;
  display: flex !important;
  flex-direction: row;
  margin-bottom: 1rem;
}




